*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    font-family: "Press Start 2P", serif;
}

.btn{
    background-color: transparent;
    border: 3px solid black;
    padding:8px 10px;
    transition:0.5s ease;
    box-shadow:3px 3px rgb(206, 206, 206);
}

.btn:hover{
    background-color: rgb(221, 221, 221);
    box-shadow:3px 3px rgb(177, 177, 177);
}

